.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85dvh;
    align-items: center;
    margin: 2rem;
    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }
    
}

.flowerContainer{
  position: relative;
  width: 100%;
  height: 30dvh;
  display: flex;
}

.flowerContainer::after{
  content: '';
  height: 2px;
  width: 80%;
  background-color: var(--brown);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  justify-content: center;
  box-sizing: border-box;
}

.flowerContainer:first-of-type::after{
  bottom: -5px;
}
.flowerContainer:nth-of-type(2)::after{
  top: -5px;
}

.flower1, .flower2{
    object-position: center; 
    object-fit: contain;
    position: relative;
    display: flex;
}

.flower2{
    transform: rotate(180deg);
}

@media (max-width: 1024px) {
  /* .flowerContainer {
    height: 250px;
  } */
}

@media (max-width: 768px) {
  .flowerContainer{
    height: 20dvh;
  }
}

@media (max-width: 480px) {
  .mainContainer{
    padding: 100px 30px;
  }
  .flowerContainer{
    height: 15dvh;
  }
}