.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85dvh;
    align-items: center;
    margin: 2rem;
    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }
    
}

.flowerContainer{
  position: relative;
  width: 100%;
  height: 30dvh;
}

.flower1, .flower2{
    border-bottom: 3px solid var(--brown);
    /* object-fit: cover;  */
    object-position: center; 
    object-fit: contain;
}

.flower2{
    transform: rotate(180deg);
}

@media (max-width: 1024px) {
  /* .flowerContainer {
    height: 250px;
  } */
}

@media (max-width: 768px) {
  .flowerContainer{
    height: 20dvh;
  }
}

@media (max-width: 480px) {
  .mainContainer{
    padding: 100px 30px;
  }
  .flowerContainer{
    height: 15dvh;
  }
}