.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85dvh;
    align-items: center;
    margin: 1rem;
    position: relative;
    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }
    
}

.flowerContainer{
  position: relative;
  width: 100%;
  height: 30dvh;
  display: flex;
}

.flowerContainer::after{
  content: '';
  height: 1px;
  width: 80%;
  background-color: var(--brown);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  justify-content: center;
  box-sizing: border-box;
}

.flowerContainer:first-of-type::after{
  bottom: -10px;
}
.flowerContainer:nth-of-type(2)::after{
  top: -5px;
}

.flower1, .flower2{
    object-position: center; 
    object-fit: contain;
    position: relative;
    display: flex;
}

.flower2{
    transform: rotate(180deg);
}

.scrollContainer{
    position: absolute;
    bottom: 0px;
    margin: auto;
    right: 50px;
    display: flex;
    width: fit-content;
    font-size: 20px;
}

.scrollContainer span{
  position: relative;
  opacity: 0;
  animation: appear 1s 1s forwards;
  transform: translate(0, 10px);
}
.scrollContainer span::before{
    content: '';
    position: absolute;
    width: 1px;
    background-color: var(--brown);
    height: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 35px;
    animation: appearLine 1s 2s forwards;
}

@keyframes appear {
  from{
    opacity: 0;
    transform: translate(0, 10px);
  }
  to{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes appearLine {
  from{
    opacity: 0;
    height: 0;
  }
  to{
    opacity: 1;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  /* .flowerContainer {
    height: 250px;
  } */
}

@media (max-width: 768px) {
  .flowerContainer{
    height: 20dvh;
  }

  .scrollContainer{
    margin: auto;
    right: 0;
    left: 0;
    font-size: 16px;
}
}

@media (max-width: 480px) {
  .mainContainer{
    padding: 100px 30px;
  }
  .flowerContainer{
    height: 15dvh;
  }
}