.date{
    text-align: center;
    margin: 1rem auto 0 auto;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}

.formGroup{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    p{
        margin: 0.5rem 0;
    }
}

.radioButtonContainer{
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
}

.button{
    margin: auto;
}

.familyNames{
    list-style: none;
    margin: 0;
    padding: 0;
}

.names{
    color: var(--brown);
    text-decoration: underline;
}