.questionContainer{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;

    h3{
        padding: 0;
        margin: 0;
        min-height: 4.5rem;
        animation-name: reveal;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }

    p{
        animation-name: reveal;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: entry 20% cover 40%;
    }  
}

.link{
    font-weight: 800;
    text-decoration: underline;
}

@media (max-width: 1400px) {
    .item{
        max-width: 350px;
    }
   
    .item h3{
        min-height: 4rem;
    }
}

@media (max-width: 1024px) {

    .item{
        max-width: 300px;
    }
   
  .item h3{
    min-height: 4rem;
    }
}

@media (max-width: 768px) {
    .item{
        max-width: none;
    }
    .item h3{
        min-height: auto;
    }
}

@keyframes reveal {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}