.questionContainer{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    /* flex: 1 1 300px;   mínimo 250px, luego crece */

}

.item h3{
    min-height: 4.5rem;
}

@media (max-width: 1400px) {
    .item{
        max-width: 350px;
    }
   
    .item h3{
        min-height: 4rem;
    }
}

@media (max-width: 1024px) {

    .item{
        max-width: 300px;
    }
   
  .item h3{
    min-height: 4rem;
    }
}

@media (max-width: 768px) {
    .item{
        max-width: none;
    }
    .item h3{
        min-height: auto;
    }
}

@media (max-width: 480px) {
    /* .item{
        max-width: 150px;
    } */

    /* .item h3{
        min-height: auto;
    } */
}