.questionContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;
}

.item{
    display: flex;
    flex-direction: column;
}

.item h3{
    min-height: 4.5rem;
}

@media (max-width: 1400px) {
    .questionContainer{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
   
    .item h3{
        min-height: 4rem;
    }
}

@media (max-width: 1024px) {
    .questionContainer{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
   
  .item h3{
    min-height: 4rem;
    }
}

@media (max-width: 768px) {
     .questionContainer{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .item h3{
        min-height: 3rem;
    }
}

@media (max-width: 480px) {
    .questionContainer{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .item h3{
        min-height: auto;
    }
}