.container{
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;

    p{
        color: var(--green);
    }
}

.date{
    text-align: center;
}

.formGroup{
    display: flex;
    flex-direction: column;
}

.radioButtonContainer{
    display: flex;
    flex-direction: column;
}

.button{
    margin: auto;
}