.container{
  display: flex;
  flex-direction: column;
  padding: 0 15rem;
}

@media (max-width: 1400px) {
  .container{
    padding: 0 10rem;
  }
}

@media (max-width: 1024px) {
  .container{
    padding: 0 6rem;
  }
}

@media (max-width: 768px) {
  .container{
    padding: 0 4rem;
  }
}

@media (max-width: 480px) {
  .container{
    padding: 0 2rem;
  }
}