.container{
    /* min-height: 15rem; */
    display: flex;
    flex-direction: column;
    outline: 2px solid var(--brown);
    padding: 1rem 2rem;
    background-color: var(--white);
    width: 20rem;
}

.title{
     margin: 0;
     text-align: center;
}
.text{
    text-align: center;
}

.button{
    margin: auto auto 0 auto;
}

@media (max-width: 1400px) {
    .container{
        /* min-height: 12rem; */
        width: 16rem;
    }
}

@media (max-width: 1024px) {
    .container{
        /* min-height: 10rem; */
        width: 14rem;
    }
}

@media (max-width: 768px) {
     .container{
        /* min-height: 8rem; */
        width: 12rem;
    }
    .container{
        padding: 1rem ;
    }
}

@media (max-width: 480px) {
    .container{
        width: 10rem;
        /* min-height: 3rem; */
    }
}