.container{
    display: flex;
    flex-direction: column;
    outline: 2px solid var(--brown);
    padding: 1rem 2rem;
    background-color: var(--white);
    width: 20rem;

    animation-name: reveal;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 20% 40%;
}

.title{
     margin: 0;
     text-align: center;
}
.text{
    text-align: center;
}

.button{
    margin: auto auto 0 auto;
}

@media (max-width: 1400px) {
    .container{
        width: 16rem;
    }
}

@media (max-width: 1024px) {
    .container{
        width: 14rem;
        padding: 1rem;
    }
}

@media (max-width: 768px) {
     .container{
        width: 12rem;
    }
}

@media (max-width: 480px) {
    .container{
        width: 10rem;
    }
}

@keyframes reveal {
    0%{
        opacity: 1;
        transform: translateX(20px);
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}