.container{
    display: flex;
    flex-direction: column;
    margin: auto;

    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }
}

.flower1, .flower2{
    border-bottom: 6px solid var(--brown);
}

.flower2{
    transform: rotate(180deg);
}