.container{
    flex-direction: row;
    gap: 4rem;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  max-width: 30dvw;
}

.image{
    rotate: -2deg;
    border: 3px solid var(--brown);
    object-position: center; 
    object-fit: contain;
}

.date{
    text-align: center;
}

.button{
    margin:auto
}


/* 💻 Tablets */
@media (max-width: 1024px) {
  .imageContainer {
    /* aspect-ratio: 2 / 3; */
  }
}

/* 📱 Móviles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .imageContainer {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .container {
    /* flex-direction: column-reverse; */
  }
}