
/* Sección que “ocupa” mucho scroll */
.pinSection {
  position: relative;
  height: 350vh; /* más alto = más recorrido para el efecto */
  flex-direction: column;
}

.pinInner {
  position: sticky;
  top: 0;
  height: 100dvh;
  padding: 10dvh 0 15dvh 0;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  transform: translateY(10px);
}

.stage {
  position: relative;
  width: 70rem;
  margin: 0 auto;
  height: 100dvh;
}

.photo {
  position: absolute;
  width: 30rem;
  height: 40rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;             /* equivalente a background-size: cover */
}

.photo1 { top: 20%; left: 2%; z-index: 1; }
.photo2 { top: 22%; right: 2%; z-index: 2; }
.photo3 { top: 25%; left: 10%; z-index: 3; }
.photo4 { top: 20%; right: 5%; z-index: 4; }
.photo5 { top: 20%; left: 0%; right: 0%; z-index: 5; 
  width: 30rem;
  height: 45rem;
  margin: auto;
}

/* Capa interna: se anima con transform */
.photoInner {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
  opacity: 0;
  transform: translate(0, 40px) scale(0.9); /* estado inicial de seguridad */
  transition: transform 0.1s linear, opacity 0.1s linear;

}

@media (max-width: 1440px) {
  .pinInner {
    padding: 7dvh 0;
  }

  .stage {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .stage {
    width: 100%;
  }

  .photo {
    width: 25rem;
    height: 35rem;
  }

  .photo5 { 
    width: 25rem;
    height: 40rem;
  }
}

@media (max-width: 768px) {
  .pinInner {
    padding: 6rem 0;
  }

  .photo {
    width: 20rem;
    height: 30rem;
  }

  .photo5 { 
    width: 20rem;
    height: 35rem;
  }
}

@media (max-width: 480px) {
  .photo {
    width: 15rem;
    height: 25rem;
  }

  .photo5 { 
    width: 15rem;
    height: 30rem;
  }
}