.container{
    h2{
        text-align: center;
        margin: 2rem auto;
    }

    .button{
    margin: auto;
}
}

.hotelContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    gap: 3rem;
}

@media (max-width: 1400px) {
    .hotelContainer{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 1024px) {
    .hotelContainer{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
     .hotelContainer{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .hotelContainer{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}