.container{
    width: 100%;
    h2{
        text-align: center;
        margin: 2rem auto;
    }

    .button{
        margin: 0 auto;
    }
}

.hotelContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 1.5rem 0;
    justify-content: center;
}


@media (max-width: 1400px) {
    .hotelContainer{
        /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    }
}

@media (max-width: 1024px) {
    .hotelContainer{
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    }
}

@media (max-width: 768px) {
     .hotelContainer{
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    .hotelContainer{
        gap: 1.5rem;
    }
}