.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  backdrop-filter: blur(5px);
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.logo{
  z-index: 100;
}

.logo a {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: var(--brown);
  transition: color 0.3s ease;
  display: inline-block;
  padding: 0.1rem;
}

.logo a:hover {
  color: var(--golden);
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.navlink {
  color: var(--brown);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.4s ease;
  margin: auto;
}

.navlink:hover {
  color: var(--golden);
}


.logo a:focus,
.logo a:focus-visible,
.navlink:focus,
.navlink:focus-visible
{
  outline: 3px solid var(--gold);
}

.confirmButton{
  position: relative;
  padding: 0.5rem;

  span{
    color: var(--white);
  }
}

.confirmButton::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--green);
  z-index: -1;
  transition: transform 0.5s ease-out;
  transform: scale(1); 
}

.confirmButton:hover::before{
   transform: scale(1.05);
}

.hamburgerButton {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1100;
}

.hamburgerButton span {
  display: block;
  height: 3px;
  background: var(--brown);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburgerButton.open span:nth-child(1) {
  transform: translateY(7.5px) rotate(45deg);
}

.hamburgerButton.open span:nth-child(2) {
  opacity: 0;
}

.hamburgerButton.open span:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
}


@media (max-width: 768px) {

  .navbar{
    padding: 1rem 1rem;
  }

  .logo a{
    font-size: 22px;
  }

  .navLinks {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background: var(--white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    display: none;
  }

  .navLinks.active {
    right: 0;
    display: flex;
  }

  .hamburgerButton {
    display: flex;
  }

  .navbar a{
      margin: 0 auto;
  }
}

@media (max-width: 480px) {
  
  .logo a{
    font-size: 20px;
  }

  .navLinks {
    width: 100%;
    right: -100%;
    background: var(--white);
    backdrop-filter: blur(8px);
  }

  .navLinks.active {
    right: 0;
  }
}
