.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.map{
    margin: auto;
}

.contentContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content{
    display: flex;
    flex-direction: column;
}
.bold{
    font-weight: 800;
}

@media (max-width: 768px) {
    .contentContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .map{
        width: 100%;
        margin: 0;
    }
}
