.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.map{
    margin: auto;
}

.contentContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content{
    display: flex;
    flex-direction: column;

    p{
        animation-name: reveal;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: entry 20% 40%;
    }
}
.bold{
    font-weight: 800;
}

.button{
    margin: 1rem auto;
    animation-name: reveal;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 20% 30%;
}

@media (max-width: 768px) {
    .contentContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .map{
        width: 100%;
        margin: 0;
    }
}


@keyframes reveal {
    0%{
        opacity: 1;
        transform: translateX(20px);
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}