.contentContainer{
    display: flex;
    gap: 1rem;
}

.content{
    display: flex;
    flex-direction: column;
}
.bold{
    font-weight: 800;
}


@media (max-width: 768px) {
 .contentContainer{
    flex-direction: column-reverse;
}
}
