.form{
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: auto;
}

.userContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.userTitle{
    display: flex;
    justify-content: space-between;

    button{
        margin: auto 0;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border: none;
        background-color: var(--green);
        color: var(--white);
        cursor: pointer;
    }
}

.formGroup{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
    width: 100%;
}

.button{
    margin: 0 auto;
}