.container{
    position: fixed;
    height: 100dvh;
    z-index: -1;
    bottom: 0;
    width: 100%;
}

.wrapper{
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.wrapper::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;   
    top: 0;
    left: 0;
    opacity: 0.5;
    background-image: url("/footer.webp");
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.content{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    z-index: 1; 

    h2{
        text-align: center;
        margin: 2rem 0;
    }
}

.button{
    margin: auto;
}