.container{
    height: 100dvh;
}

.formContainer{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--brown);
    margin: 3rem auto;
    padding: 0 5rem;
    max-width: 50rem;
}

.button{
    margin: 1rem auto 2rem auto;
}

.text{
    text-align: center;
}

@media (max-width: 480px) {
  .formContainer{
    padding: 0 2rem;
}
}