.container{
    display: flex;
    margin: 0.5rem 0; 
    gap: 0.5rem;
    background-color: var(--gold);
    cursor: pointer;
}
.title{
    display: flex;
    min-width: 12rem;
    justify-content: space-between;
    padding: 0.5rem;  
    color: var(--white);  
}

.detailsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--white);
}
.userContainer, .detailsTextContainer{
    margin: 0;
    min-width: 10rem;
    list-style-type: none;
    padding: 0;
    
    li{
        margin: 0.1rem 0;
    }
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .detailsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
}
}