.container{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0; 
    gap: 0.5rem;
    background-color: var(--gold);
    cursor: pointer;
}
.title{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 4fr;
    padding: 0.5rem;  
    color: var(--white);  
    width: 100%;
}

.detailsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--white);
}
.userContainer, .detailsTextContainer{
    margin: 0;
    min-width: 10rem;
    list-style-type: none;
    padding: 0;
    
    gap: 0.5rem;
    li{
        margin: 0.1rem 0;
    }
}

.userContainer{
    display: flex;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .detailsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 0.5rem;
    }
}