.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 1rem 0;
}

.imageContainer{
  position: absolute;
   height: 40vh;
   width: 40vh;
}

.flower {
    object-position: center; 
    object-fit: contain;
}

.topLeft {
  top: 0;
  left: 0;
}

.bottomRight {
  bottom: 0;
  right: 0;
}

.content {
  position: relative;
  z-index: 2;
  padding: 2rem;
  backdrop-filter: blur(8px);
  border: 2px solid var(--brown);
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  min-width: 40vw;
  opacity: 1;
}


@media (max-width: 768px) {
 .imageContainer{
    height: 35vh;
    width: 35vh;
  }

  .content {
    margin: 20vh auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .imageContainer{
    height: 30vh;
    width: 30vh;
  }
 .content {
    margin: 15vh 0;
  }
}