.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flower {
  position: absolute;
  height: auto;
  opacity: 0.8;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.3s ease;
}

.topLeft {
  top: 10;
  left: 50;
  transform: translate(-10%, -10%) rotate(-15deg);
}

.bottomRight {
  bottom: 50;
  right: 50;
  transform: translate(10%, 10%) rotate(15deg);
}

.content {
  position: relative;
  z-index: 2;
  width: fit-content;
  padding: 2rem;
  backdrop-filter: blur(8px);
  border: 3px solid var(--brown);
  margin: 10rem auto;
}

@media (min-width: 768px) {
  .topLeft,
  .bottomRight {
    width: 200px;
  }
}

@media (max-width: 480px) {
 .content {
    margin: 10rem 0;
    width: 100%;
  }

  
}