.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.required {
  color: var(--red);
  margin-left: 0.2rem;
}

.input {
  padding: 0.8rem 1rem;
  border: 2px solid var(--brown);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  font-family: 'Cardo', serif;
  color: var(--brown);
  font-weight: 400;
  font-size: 14px;

  &:focus {
    outline: none;
    border-color: var(--brown);
    box-shadow: 0 0 0 3px rgba(197, 159, 201, 0.2);
  }
}

.label{
  font-size: 14px;
}

.errorInput {
  border-color: var(--red);
}

.errorMessage {
  color: var(--red);
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

@media (max-width: 768px) {
  .label { font-size: 12px; }
  .input{font-size:12px}
}